<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LIBRARY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                    [routerLink]="['/author']" 
                    routerLinkActive="active"
                 >
                    Author
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    [routerLink]="['/card']" 
                    routerLinkActive="active"
                >
                    Card
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    [routerLink]="['/book']"
                    routerLinkActive="active" 
                >
                    Book
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    [routerLink]="['/publisher']" 
                    routerLinkActive="active" 
                >
                    Publisher
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    [routerLink]="['/reader']"
                    routerLinkActive="active" 
                >
                    Reader
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    [routerLink]="['/typebook']" 
                    routerLinkActive="active" 
                >
                    Type Book
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    [routerLink]="['/borrow']" 
                    routerLinkActive="active" 
                >
                    Borrow
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    [routerLink]="['/user']"
                    routerLinkActive="active" 
                >
                    User
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto" style="float: right !important">
                <li class="nav-item">
                    <a  class="nav-link">
                        <b>{{user?.name}}</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()"  >
                        Logout
                    </a>
                </li>
        </ul>
    </div>
</nav>