<div class="col-5">

    <h3 class="mt-3"> {{title}} PUBLISHER </h3>

    <form 
        class="mt-4" 
        [formGroup]="publisherForm" 
        (ngSubmit)="savePublisher()"
    >
        <div class="form-group">
            <label for="iname">Name</label>

            <input type="text" 
                class="form-control" 
                [ngClass]="{'is-invalid': (name.invalid && (name.dirty || name.touched))}"
                formControlName="name"
            >

            <div 
                class="invalid-feedback" 
                *ngIf="name.hasError('required') && (name.dirty || name.touched)"
            >
                Required name.
            </div>
        </div>

        <div class="form-group">
            <label for="iname">Address</label>

            <input type="text" 
                class="form-control" 
                formControlName="address"
                [ngClass]="{'is-invalid': address.invalid && (address.touched || address.dirty)}"
            >

            <div 
                class="invalid-feedback" 
                *ngIf="address.hasError('required') && (address.dirty || address.touched)"
            >
                Required address.
            </div>
        </div>

        <div class="form-group">
            <label for="iname">Email</label>
            
            <input type="text" 
                class="form-control" 
                formControlName="email"
                [ngClass]="{'is-invalid': email.invalid && (email.touched || email.dirty)}"
            >

            <div 
                class="invalid-feedback" 
                *ngIf="email.hasError('required') && (email.dirty || email.touched)"
            >
                Required email.
            </div>

            <div 
                class="invalid-feedback" 
                *ngIf="email.hasError('email') && (email.dirty || email.touched)"
            >
                Invalid email
            </div>
        </div>

        <div class="text-center">
            <a 
                type="submit" 
                class="btn btn-primary mr-3" 
                [routerLink]="['/publisher']"
            >
                Come back
            </a>

            <button 
                type="submit" 
                class="btn btn-success" 
                [disabled]="publisherForm.invalid">
                Save
            </button>
        </div>
    </form>
</div>
    