<div class="float-right">
    <a 
        class="btn btn-sm btn-success mt-2 mb-3"
        routerLink="create"
    >
        Create
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Publisher</th>
            <th scope="col">Price</th>
            <th scope="col">Author</th>
            <th scope="col">Type Book</th>
            <th scope="col">Publisher</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of books">
            <th>{{item.name}}</th>
            <td>{{item.datePublish | date:'dd/MM/yyyy'}}</td>
            <td>{{item.price}}</td>
            <td>{{item.author.name}}</td>
            <td>
                <button 
                *ngFor="let typebook of item.typeBooks"
                class="badge badge-pill badge-primary mr-1"
                >
                    {{typebook.name}}
                </button>
            </td>
            <td>{{item.publisher.name}}</td>
            <td>
                <button 
                    class="badge badge-pill badge-danger" 
                    *ngIf="item.status"
                >
                    Active
                </button>

            <button 
                class="badge badge-pill badge-success" 
                *ngIf="!item.status"
            >
                Not Active
            </button>
            </td>
            <td class="text-center">
                <a 
                    class="btn 
                    btn-sm mr-2 
                    btn-warning"
                    [routerLink]="['edit',item._id]"
                >
                    Edit
                </a>

                <button 
                    class="btn 
                    btn-sm mr-2 
                    btn-danger"
                    (click) = deleteBook(item._id)
                >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>